@font-face {
    font-family: 'MyCustomFont';
    src: url('@/assets/fonts/my-custom-font.woff2') format('woff2'),
         url('@/assets/fonts/my-custom-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
font-family: 'MyCustomFont', sans-serif;
}